# <h1 class="text-5xl font-bold underline bg-red-500 text-white p-6">
#   TooDoo
# </h1>
# <div class="flex justify-center mt-10">
  # <%= form_with model: @todo do |f| %>
  #   <div>
  #     <%= f.text_area :title,
  #       rows: 2,
  #       class: "w-1/2 border border-gray-300 rounded px-3 py-2 mb-4"
  #     %>
  #   </div>
  #   <div>
  #   <%= f.text_area :body,
  #     rows: 5,
  #     class: "w-2/3 border border-gray-300 rounded px-3 py-2 mb-4"
  #   %>
  #   </div>
  #   <div>
  #     <%= f.submit "登録" %>
  #   </div>
  # <% end %>
<div class="max-w-2xl mx-auto mt-10">
<h2 class="text-2xl font-bold mb-6 text-gray-800">ToDo一覧</h2>
<div class="space-y-3">
    <% @todos.each do |todo| %>
      <div class="bg-white border border-gray-200 rounded-lg shadow-sm px-4 py-3">
        <p class="text-gray-800 text-lg">
          <%= todo.title %>
        </p>
      </div>
    <% end %>
  </div>
</div>
</div>